<html>
    <head>
        <title>Prakriti bot</title>
        <link rel="stylesheet" type="text/css" href="static/about-style.css">
    </head>
    <body>
        <div class="banner">
            <div class="container-wrapper">
                <div class="navbar">
                    <a href="/">
                        <img src="static\logo.png" class="logo" style="width: 200px; height: auto;">
                    </a>
                        
                    <ul>
                        <!-- Your navbar content -->
                    </ul>
                </div>
                <div class="container">
                    <h2>About</h2>
                    <br>
                    <br>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt mollitia, modi tempore quod harum laboriosam deleniti nihil odit est, quibusdam porro ea! Est deleniti similique, fuga beatae reiciendis officia!
                </p>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <p class="scroll-text">
              *For demo purpose only
            </p>
          </div>
        <script src="script.js"></script>
    </body>
</html>
