<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Chatbot Of Prakruti</title>
    <link rel="stylesheet" href="static\chatBot-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="static\script.js" defer></script>
</head>

<body class="show-chatbot">

    <div class="chatbot">
        <header>
            <h2>Chatbot</h2>
            <span class="material-symbols-outlined">
                close
            </span>
        </header>

        <ul class="chatbox">

        </ul>
        <div class="chat-input">
            <textarea placeholder="Dont Type Anything...Choose from options" required></textarea>
            <span id="send-btn" class="material-symbols-outlined">send</span>
        </div>
        <div class="questions">

            <p id="question-text"></p>
            <button class="option">Option 1</button>
            <button class="option">Option 2</button>
            <button class="option">Option 3</button>
        </div>

    </div>
    <div class="Recommendations">
        <header>
            <h2>Recommendations</h2>

        </header>
    </div>
    <div class="Suggestions">
        <header>
            <h2>Suggestions</h2>
        </header>
        <!-- Add content for the Suggestions section here -->
    </div>
   <!-- Add this HTML inside your <body> tag -->
  <!-- Add this HTML inside your <body> tag -->
<div class="scroll-container">
    <p class="scroll-text">
      *This is just a Demo, Predictions will come on the basis of basic trained model.  Due to Deployement Server Error the chatbot is unable to show final prediction but it works perfectly locally.
    </p>
  </div>
  
    </body>

</body>

</html>
